body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
.clearfix {
  content: "";
  clear: both;
  float: none;
  display: block;
}
body {
  background-color: #ddd;
}
.calendar__container {
  background-color: white;
  width: 600px;
  height: 400px;
  padding: 30px;
  /* border:1px solid rgb(121, 116, 104)146, 139, 139); */
}
.calendar__clicked {
  text-align: center;
  float: left;
}
.calendar__container .calendar {
  text-align: center;
  float: right;
  position: relative;
}
.cal__btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 20px;
}
.ctr__box .cal__btn.prev::after {
  content: "<";
  position: absolute;
  top: 0;
  left: 0;
}
.cal__btn.next::after {
  position: absolute;
  content: ">";
  right: 0;
  top: 0;
  /* 이거 left어떻게 적었을까?/ */
}

.ctr__box-day {
  font-size: 20px;
}
.ctr__box-date {
  font-size: 25px;
}
.calendar__ctr-box {
  /* vertical-align: middle;
   */
  height: 50px;
  line-height: 50px;
}
td.today {
  background-color: yellow;
  border-radius: 30px;
  height: 30px;
}
